.grid-wrapper {
  display: flex;
  width: 100%;
}

.shifts {
  background-color: #6FC64D;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    background-color: white;
    border: 1px solid #6FC64D;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      color: darkgray;
      border: 1px solid white;
    }
  }

  .render-button {
    font-weight: 600;
    font-size: 16px;
    padding: 5px 25px;
    white-space: nowrap;
  }

  .add-shift-button {
    width: fit-content;
    margin: 0 auto;
  }
}